<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="club1" class="question2.Club" autowire="byType" scope="prototype">
	    <constructor-arg name="cId" value="102" type="int"/>
	    <constructor-arg name="name" value="Hollywood"/>
	    <constructor-arg name="owner" value="Deepak Sharma"/>
	</bean>
	
	<bean id="player1" class="question2.Player">
	    <constructor-arg name="pId" value="2" type="int"/>
	    <constructor-arg name="name" value="Deepak Ji Bhaishabh"/>
	    <constructor-arg name="pay" value="2000.0"/>
	</bean>
    
</beans>